<a href="https://colab.research.google.com/github/UlisesNuB/Valores-Nulos/blob/main/Valores_Nulos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Importamos librerias pandas, numpy y matplotlib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Cargar archivos csv desde equipo
from google.colab import files
files.upload()

In [ ]:
#Cargar archivo csv sin indice
data = pd.read_csv("Ventas_totales.csv")
data.head(5)

In [ ]:
#Eliminar columnas innecesarias
data2= data.drop(["canales_on_line","otros"], axis=1)
data2

In [ ]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum()
valores_nulos

**Sustituci√≥n de valores nulos**

In [8]:
#Realizamos una copia del dataframe
data3=data2.copy()

In [11]:

#Sustituir valores nulos por promedio o moda
data3["subtotal_ventas_alimentos_bebidas"]=data3["subtotal_ventas_alimentos_bebidas"].fillna(round(data2["subtotal_ventas_alimentos_bebidas"].mean(),1))

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [ ]:

#Sustituir valores nulos con mediana
data3["tarjetas_credito"]=data3["tarjetas_credito"].fillna(round(data2["tarjetas_credito"].median(),1))
data3

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [ ]:

#Sustituir valores nulos por un valor numerico concreto
data3["electronicos_articulos_hogar"]= data3["electronicos_articulos_hogar"].fillna(5)
data3

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [ ]:
#Sustituir valores nulos por un valor numerico concreto
data3["indumentaria_calzado_textiles_hogar"]= data3["indumentaria_calzado_textiles_hogar"].fillna(3)
data3

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [22]:
#Sustituir valores nulos por valores no nulos hacia delante "Forward fill" ("ffill")
#Filtro por columnas
data3["salon_ventas"] =data3["salon_ventas"].fillna(method="ffill")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [24]:
#Sustituir valore nulos por los valores no nulos hacia atras backward fill" ("bfill")
data3["almacen"] =data3["almacen"].fillna(method="bfill")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [26]:
#Sustituir valore nulos por los valores no nulos hacia atras backward fill" ("bfill")
data3["tarjetas_debito"] =data3["tarjetas_debito"].fillna(method="bfill")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [29]:
#Sustituir valores nulos por valores no nulos hacia delante "Forward fill" ("ffill")
#Filtro por columnas
data3["otros_medios"] =data3["otros_medios"].fillna(method="ffill")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [31]:
#Sustituir valore nulos por los valores no nulos hacia atras backward fill" ("bfill")
data3["bebidas"] =data3["bebidas"].fillna(method="bfill")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [36]:
#Sustituir valores nulos por valores no nulos hacia delante "Forward fill" ("ffill")
#Filtro por columnas
data3["panaderia"] =data3["panaderia"].fillna(method="ffill")
data3["lacteos"] =data3["lacteos"].fillna(method="ffill")
data3["carnes"] =data3["carnes"].fillna(method="ffill")
data3["verduleria_fruteria"] =data3["verduleria_fruteria"].fillna(method="ffill")
data3["alimentos_preparados_rotiseria"] =data3["alimentos_preparados_rotiseria"].fillna(method="ffill")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [38]:
#Corroboramos valores nulos de todo el dataframe
valores_nulos=data3.isnull().sum().sum()
valores_nulos

0